@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $("#barang").keyup(function() {
        var searchTerm = $(this).val();

        if (searchTerm.length >= 3) {
            $.ajax({
                url: "/Home/GetItemSuggestions",
                data: { term: searchTerm },
                success: function(data) {
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.error("Error retrieving suggestions:", textStatus, errorThrown);
                }
            });
        }
    });
});
</script>


<div class="container pt-4 px-4">
    <div class="row mt-4 mb-3">
        <div class="col-lg-4">
            <label for="negara" class="form-label">Negara</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" id="negara" name="negara">
        </div>
    </div>
    <div class="row my-3">
        <div class="col-lg-4">
            <label for="pelabuhan" class="form-label">Pelabuhan</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" id="pelabuhan" name="pelabuhan">
        </div>
    </div>
    <div class="row my-3">
        <div class="col-lg-4">
            <label for="barang" class="form-label">Barang</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control mb-3" id="barang" name="barang">
            <textarea rows="3" type="text" class="form-control" id="barang2" name="barang2"></textarea>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-lg-4">
            <label for="harga" class="form-label">Harga</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" id="harga" name="harga">
        </div>
    </div>
    <div class="row my-3">
        <div class="col-lg-4">
            <label for="tarif" class="form-label">Tarif Bea Masuk</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control mb-3" id="tarif" name="tarif">
            <input type="text" class="form-control" id="tarif2" name="tarif2"></input>
        </div>
    </div>
</div>