@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="col my-3">
        <div class="row">
            <label for="negara" class="form-label">Negara</label>
            <input type="text" class="form-control" id="negara" name="negara">
        </div>
        <div class="row">
            <label for="pelabuhan" class="form-label">Pelabuhan</label>
            <input type="text" class="form-control" id="pelabuhan" name="pelabuhan">
        </div>
    </div>
    <div class="col my-3">
        <div class="row">
            <label for="barang" class="form-label">Barang</label>
            <input type="text" class="form-control" id="barang" name="barang">
        </div>
        <div class="row my-3">
            <input type="text" class="form-control" id="barang2" name="barang2">
        </div>
    </div>
    <div class="col my-3">
        <div class="row">
            <label for="harga" class="form-label">Harga</label>
            <input type="text" class="form-control" id="harga" name="harga">
        </div>
    </div>
    <div class="col my-3">
        <div class="row">
            <label for="tarif" class="form-label">Tarif Bea Masuk</label>
            <input type="text" class="form-control" id="tarif" name="tarif">
        </div>
        <div class="row my-3">
            <input type="text" class="form-control" id="tarif2" name="tarif2">
        </div>
    </div>
</div>